body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9eaed;
}

header {
  background-color: #075e54;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

header:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  margin: 2rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

section:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
  line-height: 1.6;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  display: inline-block;
  background-color: #128c7e;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #075e54;
}